


<main class="task-grid">


    <article class="task box-type-0">

      <div class="flex">
        <div>
         <img  src="../../assets/images/fire.png" alt="Fire">
        </div>
        <div>
          <h2 class="name">Due: 04-Dec-22</h2>
          <p class="position"><progress value="20" max="100"></progress></p>
        </div>
      </div>
      <p>
        Hit the gym work out get swole. New year's resolution.
      </p>
      <p>
        “ Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! Quos voluptatum neque atque, dolor, facilis cupiditate adipisci fugiat praesentium hic molestiae dicta odio nemo. Ducimus, voluptates sed! 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! 
       
        
      </p>
    </article>

    <article class="task box-type-1">
      <div class="flex">
        <div>
          <img src="../../assets/images/fire.png" alt="Fire">
        </div>
        <div>
          <h2 class="name">Due: 01-Jan-23</h2>
          <p class="position"><progress value="40" max="100"></progress></p>
        </div>
      </div>
      <p>
        Study for java cert
      </p>
      <p>
        “ Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! Quos voluptatum neque atque, dolor, facilis cupiditate adipisci fugiat praesentium hic molestiae dicta odio nemo. Ducimus, voluptates sed!  ”
      </p>
    </article>

    <article class="task box-type-2">
      <div class="flex">
        <div>
          <img src="../../assets/images/fire.png" alt="Fire">
        </div>
        <div>
          <h2 class="name">Due: 05-Dec-22</h2>
          <p class="position"><progress value="70" max="100"></progress></p>
        </div>
      </div>
      <p>
        Take a nap catch up on Netflix</p>
      <p>
        “ Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! Quos voluptatum neque atque, dolor, facilis cupiditate adipisci fugiat praesentium hic   ”
      </p>
    </article>
    
    <article class="task box-type-3">
      <div class="flex">
        <div>
          <img src="../../assets/images/cold.png" alt="Cold">
        </div>
        <div>
          <h2 class="name">Due: 04-Dec-22</h2>
          <p class="position"><progress value="15" max="100"></progress></p>
        </div>
      </div>
      <p>
        Take a dog out for a walk. Go to the park.
      </p>
      <p>
        “ The staff seem genuinely concerned about my progress which I find really refreshing. The program
        gave me the confidence necessary to be able to go out in the world and present myself as a capable
        junior developer. The standard is above the rest. You will get the personal attention you need from
        an incredible community of smart and amazing people. ”
        
      </p>

    </article> 

    <article class="task box-type-4">
      <div class="flex">
        <div>
          <img src="../../assets/images/cold.png"  alt="Cold">
        </div>
        <div>
          <h2 class="name">Due: 04-Dec-22</h2>
          <p class="position"><progress value="80" max="100"></progress></p>
        </div>
      </div>
      <p>
        Shopping list for groceries and other stuff.
      </p>
      <p>
        “ Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! Quos voluptatum neque atque, dolor, facilis cupiditate adipisci fugiat praesentium hic molestiae dicta odio nemo. Ducimus, voluptates sed! ”
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! Quos voluptatum neque atque, dolor, facilis cupiditate adipisci fugiat praesentium hic molestiae dicta odio nemo. Ducimus, voluptates sed! 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus!  </p>
        
       
    </article>


<button (click)="sortArr()">test but</button>

    <ng-container *ngFor="let task of taskList; index as i">
      <article class="task box-type-{{i%5}}" style="margin:.5rem; --grid-var:a{{i+6}}; grid-area: var(--grid-var);" (click)='modifyTask(task.taskId)'>
      <!-- <article class="task box-type-{{i%5}}" style="margin:.5rem; --grid-var:{{i}}; grid-area: --grid-var"> -->
      <!-- <article class="task box-type-{{i%5}}" style="margin:.5rem; --grid-var:toWord(i+5); grid-area: var(--grid-var)"> -->
        <div class="flex" >
          <div>
            <ng-container [ngSwitch]='task.priority' >
                
              <img *ngSwitchCase = "'0'" src="../../assets/images/fire.png">
              <img *ngSwitchCase = "'2'" src="../../assets/images/cold.png">
              <!-- <img *ngSwitchDefault>Need a default img -{{task.priority}} -->
              <!-- <img src='{{task.priority}}'  alt="priority"> -->
          </ng-container>


          </div>
          <div>
            <h2 class="name">Due: {{task.dueDate}}</h2>
            <p class="position"><progress value="80" max="100"></progress></p>
            <!-- <button (click)='modifyTask(task.taskId)'>Edit</button> -->
          </div>
        </div>
        <p>
          {{ task.title }}
        </p>
        <p>
          {{ task.content }} </p>
          
         
      </article>
    </ng-container>

  </main>
