
    main{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    display: grid;
    place-content: center;

  
    font-family: var(--ff-primary);
    font-weight: var(--fw-4);
    
    --clr-primary-4: 315 41% 26% /.25; /*#5e2750*/

    --clr-secondary-4: 0 0% 20% /.5; /*#333333*/
    --clr-secondary-5: 219 29% 14% /.75; /*no color change*/
    --clr-neutral-1: 32 8% 65% /.5;/*#aea79f*/
    --clr-secondary-6: 0 0% 0% ; /*#333333*/

  
    --ff-primary: "Barlow Semi Condensed", sans-serif;
  
    --fw-4: 500;
    --fw-7: 600;
  
    --fs-3: 0.6875rem;
    --fs-4: 0.8125rem;
    --fs-5: 1.25rem;
      
    --grid-var:0
  }
  

  h1,
  h2,
  h3 {
    font-weight: var(--fw-7);
  }
  
  /* utilities */
  .flex {
    display: flex;
    gap: var(--gap, 1rem);
  }
  
/*   
  .bg-primary-4 {
    background: hsl(var(--clr-primary-4));
    
  }
  .bg-secondary-4 {
    background: hsla(var(--clr-secondary-4));
  }
  .bg-secondary-5 {
    background: hsl(var(--clr-secondary-5));
  }
  
  .bg-neutral-1 {
    background: hsl(var(--clr-neutral-1));
  }
  
  .text-neutral-1 {
    color: hsl(var(--clr-neutral-1));
  }
  .text-secondary-4 {
    color: hsl(var(--clr-secondary-4));
  }
  .text-secondary-6 {
    color: hsl(var(--clr-secondary-6));
  }


  .border-primary-400 {
    border: 2px solid #a775f1;
  } */
  
  /* components */
  .task-grid {
    display: grid;
    /*  */
    /* gap: 1.5rem; */
    
    grid-auto-columns: 1fr;
    /* grid-template-areas:
     'one'
     'two'
     'three'
     'four'
     'five'
   
     'six'
     'seven'
     'eight'
     'nine'
     'ten'; */
  /*  */
    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
  }
  
  .task-grid :hover{
    transform: scale(1.05);
  }
  
  .task {
    font-size: var(--fs-4);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-4) / 0.25);
  }

  
  .task:nth-child(1) {
    margin: .5rem;
    grid-area: one;
    
  }
 

  .task:nth-child(2) {
    margin: .5rem;
   
    grid-area: two;
  }
  .task:nth-child(3) {
    margin: .5rem;
    grid-area: three;
  }
  .task:nth-child(4) {
    margin: .5rem;
    grid-area: four;
  }
  .task:nth-child(5) {
    margin: .5rem;
    grid-area: five;
  }
  


/* 
  .task:nth-child(6) {
   
    grid-area: a-6;
  }
 

  
  .task:nth-child(7) {
    grid-area: a-7;
  }

  .task:nth-child(8) {
    grid-area: a-8;
  }

  .task:nth-child(9) {
    grid-area: a-9;
  }
  .task:nth-child(10) {
    grid-area: a-10;
  } */



  
  /* .task:nth-child(6) {
   
    grid-area: six;
  }
 

  
  .task:nth-child(7) {
    grid-area: seven;
  }

  .task:nth-child(8) {
    grid-area: eight;
  }

  .task:nth-child(9) {
    grid-area: nine;
  }
  .task:nth-child(10) {
    grid-area: ten;
  }  */

/********************************************************/

.box-type-0{
  color: hsl(var(--clr-neutral-1));
  background: hsla(var(--clr-secondary-4));
}


.box-type-1{
  color: hsl(var(--clr-neutral-1));
  background: hsl(var(--clr-primary-4));
}

.box-type-2{
  color: hsl(var(--clr-secondary-6));
  background: hsl(var(--clr-neutral-1));
}

.box-type-3{
  color: hsl(var(--clr-neutral-1));
  background: hsl(var(--clr-secondary-5));
}

.box-type-4{
  color: hsl(var(--clr-secondary-6));
  background: hsl(var(--clr-neutral-1));
}
/* 
.box-type-4{
  color: hsl(var(--clr-neutral-1));
  background: hsl(var(--clr-secondary-5));
} */

  /* @media screen and (min-width: 33em) {
    .task-grid {
        grid-template-areas:
        "one one"
        "two three"
        "five five"
        "four four";
    }
  } */
  
  /* @media screen and (min-width: 38em) {
    .task-grid {
      grid-template-areas:
       'one one'
       'two five'
       'three five'
       'four four';
      
    }
  }
  
  @media screen and (min-width: 54em) {
    .task-grid {
        grid-template-areas:
        "one one two"
        "five five five"
        "three four four";
        
    }
  } */
  
  @media screen and (min-width: 75em) {
    .task-grid {
        grid-template-areas:
        "one one two five"
        "three four four five"
        /* "six seven eight nine"
        "six seven eight nine" */
        /* "ten eleven twelve thirteen" */
        "a6 a7 a8 a8"
        "a6 a9 a9 a10"
        
        "a11 a11 a12 a15"
        "a13 a14 a14 a15"

        "a16 a17 a18 a18"
        "a16 a19 a19 a20"
        
        "a21 a21 a22 a25"
        "a23 a24 a24 a25"; 

        /* "six-0 seven-1 eight-2 eight-2"
        "six-0 nine-3 nine-3 ten-4"; */
       
    }
  }
  
  
 
  
  .task img {
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
  }
  
  .task .name {
    font-size: var(--fs-4);
    font-weight: var(--fw-4);
    line-height: 1;
  }
  
  .task .position {
    font-size: var(--fs-3);
    opacity: 0.5;
  }
  
  .task > p:first-of-type {
    font-size: var(--fs-5);
    line-height: 1.2;
  }
  
