


<main class="task-grid">




    <ng-container *ngIf="taskList.length>=25" > You have reached your free trial maximum tasks. Subsribe to unlock more!!"

    </ng-container>
    


    <ng-container *ngFor="let task of taskList; index as i">
      <article class="task box-type-{{i%5}}" style="margin:.5rem; --grid-var:a{{i+1}}; grid-area: var(--grid-var);" (click)='modifyTask(task.taskId)'>
      <!-- <article class="task box-type-{{i%5}}" style="margin:.5rem; --grid-var:{{i}}; grid-area: --grid-var"> -->
      <!-- <article class="task box-type-{{i%5}}" style="margin:.5rem; --grid-var:toWord(i+5); grid-area: var(--grid-var)"> -->
        <div class="flex" >
          <div>
            <ng-container [ngSwitch]='task.priority' >
                
              <img *ngSwitchCase = "'0'" src="../../assets/images/fire.png">
              <img *ngSwitchCase = "'1'" src="../../assets/images/fire.png">
              <img *ngSwitchCase = "'2'" src="../../assets/images/cold.png">
              <!-- <img *ngSwitchDefault>Need a default img -{{task.priority}} -->
              <!-- <img src='{{task.priority}}'  alt="priority"> -->
              <!-- <ng-container *ngIf="isPastDue(task.dueDate)">
                <div>Past Due!!!</div>
            </ng-container> -->
          </ng-container>


          </div>
          <div>
            <h2 class="name">Due: {{task.dueDate}}</h2>
            <p class="position"><progress value="80" max="100"></progress></p>
            <!-- <button (click)='modifyTask(task.taskId)'>Edit</button> -->
          </div>
        </div>
        <p>
          {{ task.title }}
        </p>
        <p>
          {{ task.content }} </p>
          
         
      </article>
    </ng-container>

  </main>
  <ng-container *ngIf="taskList.length<5">
  <button (click)="populateExampleTasks()">Poupulate Examples</button>
    </ng-container>

