<main class="task-grid">
    <!-- <article class="task bg-secondary-4 text-neutral-1">
      <div class="flex">
        <div>
          <img  src="../../assets/images/fire.png" alt="Fire">
        </div>
        <div>
          <h2 class="name">Due: 04-Dec-22</h2>
          <p class="position"><progress value="20" max="100"></progress></p>
        </div>
      </div>
      <p>
        Hit the gym work out get swole. New year's resolution.
      </p>
      <p>
        “ Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! Quos voluptatum neque atque, dolor, facilis cupiditate adipisci fugiat praesentium hic molestiae dicta odio nemo. Ducimus, voluptates sed! 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! Quos voluptatum neque atque, dolor, facilis cupiditate adipisci fugiat praesentium hic molestiae dicta odio nemo. Ducimus, voluptates sed! 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! Quos voluptatum neque atque, dolor, facilis cupiditate adipisci fugiat praesentium hic molestiae dicta odio nemo. Ducimus, voluptates sed! 
        
      </p>
    </article>
    <article class="task bg-primary-4 text-neutral-1">
      <div class="flex">
        <div>
          <img src="../../assets/images/fire.png" alt="Fire">
        </div>
        <div>
          <h2 class="name">Due: 01-Jan-23</h2>
          <p class="position"><progress value="40" max="100"></progress></p>
        </div>
      </div>
      <p>
        Study for java cert
      </p>
      <p>
        “ Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! Quos voluptatum neque atque, dolor, facilis cupiditate adipisci fugiat praesentium hic molestiae dicta odio nemo. Ducimus, voluptates sed!  ”
      </p>
    </article>
    <article class="task bg-neutral-1 text-secondary-6">
      <div class="flex">
        <div>
          <img src="../../assets/images/fire.png" alt="Fire">
        </div>
        <div>
          <h2 class="name">Due: 05-Dec-22</h2>
          <p class="position"><progress value="70" max="100"></progress></p>
        </div>
      </div>
      <p>
        Take a nap catch up on Netflix</p>
      <p>
        “ Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! Quos voluptatum neque atque, dolor, facilis cupiditate adipisci fugiat praesentium hic   ”
      </p>
    </article>
    <article class="task bg-secondary-5 text-neutral-1">
      <div class="flex">
        <div>
          <img src="../../assets/images/cold.png" alt="Cold">
        </div>
        <div>
          <h2 class="name">Due: 04-Dec-22</h2>
          <p class="position"><progress value="15" max="100"></progress></p>
        </div>
      </div>
      <p>
        Take a dog out for a walk. Go to the park.
      </p>
      <p>
        “ The staff seem genuinely concerned about my progress which I find really refreshing. The program
        gave me the confidence necessary to be able to go out in the world and present myself as a capable
        junior developer. The standard is above the rest. You will get the personal attention you need from
        an incredible community of smart and amazing people. ”
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! Quos voluptatum neque atque, dolor, facilis cupiditate adipisci fugiat praesentium hic 
      </p>
    </article> -->
    <ng-container *ngFor="let task of taskList">
      <article class="task bg-neutral-1 text-secondary-6">
        <div class="flex">
          <div>
            <img src="../../assets/images/cold.png"  alt="Cold">
          </div>
          <div>
            <h2 class="name">{{ task.timestamp }}</h2>
            <button (click)='modifyTask(task.taskId)'>Edit</button>
          </div>
        </div>
        <p>
          {{ task.title }}
        </p>
        <p>
          {{ task.content }} </p>
          
         
      </article>
    </ng-container>

  </main>

  


