
<main class="task-grid">


    <article class="task box-type-0">

      <div class="flex">
        <div>
         <img  src="https://media.licdn.com/dms/image/D5635AQH24hGRkSz5yA/profile-framedphoto-shrink_100_100/0/1670254027683?e=1672210800&v=beta&t=-N6yQ-8D2Llft_ljRrNXWpwZ0S00Dtc8E1mlTIWNl-4" alt="Artyom">
        </div>
        <div>
  
         
        </div>
      </div>
      <p>
        Artyom Dutchak
      </p>
      <p>
        After leaving military service, I earned a Baccalaureate degree in Mechanical Engineering from the University of Colorado. My professional experience includes design of custom test equipment, manufacturing support, thermal and flow control of fluid systems, automation software development, and endurance testing of aircraft parts.
        Recently I have made a career change from Mechanical Engineering into Software because I enjoy the fast pace at which the field is growing and the vast intellectual opportunities it offers.    
       
        
      </p>
    </article>

    <article class="task box-type-1">
      <div class="flex">
        <div>
          <img src="https://media.licdn.com/dms/image/D4E35AQFCspZBgke7uw/profile-framedphoto-shrink_200_200/0/1670985637580?e=1672210800&v=beta&t=K7YbwV-STMGgooEX6jPaJcO8wv-U_2246duvU-P2FK0" alt="Raymond">
        </div>
        <div>
       
         
        </div>
      </div>
      <p>
        Raymond Hernandez
      </p>
      <p>
        “ Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! Quos voluptatum neque atque, dolor, facilis cupiditate adipisci fugiat praesentium hic molestiae dicta odio nemo. Ducimus, voluptates sed!  ”
      </p>
    </article>

    <article class="task box-type-2">
      <div class="flex">
        <div>
          <img src="https://media.licdn.com/dms/image/C4E03AQFwPZN9jueJSg/profile-displayphoto-shrink_200_200/0/1585853526036?e=1677110400&v=beta&t=DSf7Uou4iCxkPqWkl3GOq8nlj9v0OwWSgx3g6vvduLM" alt="Kelvin">
        </div>
        <div>
 
        
        </div>
      </div>
      <p>
        Kelvin Mickens</p>
      <p>
        “ Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic repellat repellendus! Quos voluptatum neque atque, dolor, facilis cupiditate adipisci fugiat praesentium hic   ”
      </p>
    </article>
    
</main>