main {
    display: flex;
    padding: 24px;
    justify-content: center;
    align-items: center;
    color: white;

}

h2 {
    font-size: 30px;
}

div{
    margin-bottom: 12px;
}

label{
    background-color: rgba(0, 0, 0, 0.144);
    font-weight: bold;
    padding: 6px;
}

.priorityDiv {
    background-color: rgba(0, 0, 0, 0.144);
    font-weight:0;
}

input {
    margin: 6px 0px;
    border: solid 2px rgba(0, 0, 0, 0.658);
}

#taskTitle {
    width: 350px;
}

input:focus {
    transform: scale(1.25);
}

textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    width: 500px;
    margin-top: 5px;
    box-shadow: 6px 6px 6px rgba(114, 0, 114, 0.795);
    color: black;
}

#actions button {
    margin: 10px;
}

section {
    display: inline-block;
    background-color: gray;
    color: black;
}