main {
    display: flex;
    padding: 24px;
    justify-content: center;
    align-items: center;
    color: white;


    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    display: grid;
    place-content: center;

  
    font-family: var(--ff-primary);
    font-weight: var(--fw-4);
    
    --clr-primary-4: 315 41% 26% /.25; /*#5e2750*/

    --clr-secondary-4: 0 0% 20% /.5; /*#333333*/
    --clr-secondary-5: 219 29% 14% /.75; /*no color change*/
    --clr-neutral-1: 32 8% 65% /.5;/*#aea79f*/
    --clr-secondary-6: 0 0% 0% ; /*#333333*/

  
    --ff-primary: "Barlow Semi Condensed", sans-serif;
  
    --fw-4: 500;
    --fw-7: 600;
  
    --fs-3: 0.6875rem;
    --fs-4: 0.8125rem;
    --fs-5: 1.25rem;
      
    --grid-var:0

}

h2 {
    font-size: 30px;
}

div{
    margin-bottom: 12px;
}

label{
    /* background-color: rgba(0, 0, 0, 0.144); */
    font-weight: bold;
    padding: 6px;
}

/* .priorityDiv {
    background-color: rgba(0, 0, 0, 0.144);
    font-weight:0;
} */

input {
    margin: 6px 0px;
    border: 0px;
    /* border: solid 2px rgba(0, 0, 0, 0.658); */
    color: hsl(var(--clr-secondary-6));
    background: hsl(var(--clr-neutral-1));
    border-radius: 15px;
    border: 0px;
}

#taskTitle {
    width: 350px;
}

input:focus {
    transform: scale(1.25);
}

textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    width: 500px;
    margin-top: 5px;
    /* box-shadow: 6px 6px 6px rgba(114, 0, 114, 0.795);
    color: black; */
    /* background-color: #f8f8f8; */
    color: hsl(var(--clr-secondary-6));
    background: hsl(var(--clr-neutral-1));
    border-radius: 5px;
    border: 0px;
}

#actions button {
    margin: 10px;
}

section {
    display: inline-block;
    background-color: gray;
    color: black;
}