<main>
    <form #addTask>

        <h2>Edit Task</h2>

        <div>
            <label for="taskTitle">{{ taskDataXfer.taskToBeEdited.title }}</label> <br>
            <input [(ngModel)]="newTask.title"
                   type="text"
                   id="taskTitle"
                   name="taskTitle"
                   placeholder="Leave Blank For No Title Edits..."
                   >
        </div>
        <div id="taskContent">
            <label for="taskContent">Content</label> <br>
            <textarea [(ngModel)]="newTask.content" 
                      name="taskContent" 
                      id="taskContent" 
                      cols="30" rows="10">
            </textarea>
        </div>
        <div class="priorityDiv">
            <label>Priority</label><br>
            <input [(ngModel)]="newTask.priority"
                   type="radio"
                   id="high"
                   name="taskPriority"
                   value="0"                
                   >
            <label for="high">High</label>

            <input [(ngModel)]="newTask.priority"
                   type="radio"
                   id="medium"
                   name="taskPriority"    
                   value="1"            
                   >
            <label for="medium">Medium</label>

            <input [(ngModel)]="newTask.priority"
                   type="radio"
                   id="low"
                   name="taskPriority"      
                   value="2"          
                   >
            <label for="low">Low</label>
        </div>

        <div id="actions">
            <button (click)="returnToTaskView()">Cancel</button>
            <button (click)="addTask.reset()">Clear</button>
            <button (click)="modifyTask(); returnToTaskView()">Submit</button>
        </div>
        

    </form>

    <section>
        <button (click)="taskDataXfer.search()"> test </button>
    </section>
</main>