header a{
  text-decoration: none;
}


header{
    background: #11111190;
    /* grid-column: span 4; */
  
    margin-top: 1em;
  
    align-content: center;
    align-items: center;
    text-align: center;
  
  
    border-radius: .5em;
  
   
  }

  .container {
   
    margin: auto;

    height: 250px;
    width: 500px;
    top: 60px;
  
    display: flex;
    /* background-color: white; */
  
    align-content: center;
    align-items: center;
    text-align: center;
   
  }
  
  .card {
    display: flex;
    height: 200px;
    width: 150px;
    background-color: #17141d90;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;

    transition: 0.4s ease-out;
    position: relative;

    position: relative;
    left: 0px;
/* 
    background-image: url("../../assets/images/cold.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: 50px 110px; */
    
  }
  
  .card:not(:first-child) {
      margin-left: -25px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;/*50*/
    transition: 0.4s ease-out;
  }
  
  .title {
    color: white;
    font-weight: 300;
    position: relative;/**/
    left: 20px;
    top: 15px;
  }


  
  .bar {
    position: absolute;
    top: 60px;
    left: 20px;
    height: 5px;
    width: 110px;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .filledbar {
    position: relative;/**/
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
  }
  
  .card:hover .filledbar {
    width: 110px;
    transition: 0.4s ease-out;
  }
  
  .circle {
    position: absolute;
    top: 75px;
    left: calc(50% - 60px);

   
  }
  
  .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
   
  }
  
  svg {
    fill: none; /*  #17141d; */
    stroke-width: 2px;
  }
  
  .card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }