<header>
    <div class="container">
      <!-- <div class="container" style="background-image: url(../../assets/images/cold.png)"> -->
        <div class="card">
          <a routerLink= "task-view"><h3 class="title">Day View</h3></a>
          <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
            
          </div>
          <div class="circle">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle class="stroke" cx="60" cy="60" r="50"/>
          </svg>
          </div>
        </div>
        <div class="card">
          <a routerLink= "create-task"><h3 class="title">Create New</h3></a>
          <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
          </div>
          <!--  -->
          <div class="circle" >
            <!--  -->
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle class="stroke" cx="60" cy="60" r="50"/>
          </svg>
          </div>
        </div>
        <div class="card">
          <a routerLink= "completed-tasks"><h3 class="title">Completed</h3></a>
          <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
          </div>
          <div class="circle">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle class="stroke" cx="60" cy="60" r="50"/>
          </svg>
          </div>
        </div>
        <div class="card">
          <a routerLink= "calendar"><h3 class="title">About Us</h3></a>
          <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
          </div>
          <div class="circle">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle class="stroke" cx="60" cy="60" r="50"/>
          </svg>
          </div>
        </div>
      </div>

   
</header>
