
body{
    margin: 0 auto; 
    background-color: white;
    max-width: 70em; 
    min-width: 20em; 
  
  }
  
  
  main{
    display: grid;
    
    grid-template-columns: 2fr 2fr 2fr;
    margin: 0em 5em;
  
  }
  
  header{
    display: flex;
    grid-column: span 3; 
    background-color: orangered;
    height: 1em;
    margin-bottom: .1em;
  
  }

  h1{
    width:100%;
    grid-column: span 3; 
    /* vertical-align: middle; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    font-style: italic;
    font-size:xx-large;
    font-weight: bolder;
  }
  
  
nav {
    display: flex;
    grid-column: span 3;
    /* margin: 0px 12px; */
    background-color: royalblue;
    overflow: hidden;
    justify-content:space-evenly;
    margin-top: .1em;
    
  }
  

  nav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Change the color of links on hover */
  nav a:hover {
    background-color: cornflowerblue;
    color: black;
  }
  
  /*Color to the active link */
  nav a.active {
    background-color: grey;
    color: white;
  }

  .main-text{
    display: flex;
    grid-column: span 3;
    font-size: large;
  }

  main div{
    display: flex;
  }

  main div img{
    border: 0px solid;
    padding-right: 1px;
    padding-top: 1em;
    width: 80%;
  }

  main div img:hover{
    transform: scale(1.2);
  }

  footer{
    grid-column: span 3;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  footer img{
    border: 0px solid;
    padding-right: 1px;
    padding-top: 2em;
    width:2em;
    height: 2em;
    
  }
  
footer img:hover{
  transform: scale(1.2);
}

#list{
    grid-column: span 3;
    font-style: italic;
    font-weight: bold;
    font-family:cursive;
    border-style: solid;
    border-radius: 1em;
  
}

#list img{

    width: 2em;
    height: 2em;
    vertical-align: center;
    align-content:center;
}